:root {
  --main-font: "Outfit", sans-serif;
  --people-names-color: #fffefe;
  --header-card-bg-color: #f3f4f6;
  --span-color: #263fa9;
  --title-header-color: #000000;
  --text-header-color: #394150;
  --footer-card-link-color: #c1b6f8;
  --liam-bg-color: #c1b6f8;
  --sophia-bg-color: #edacd2;
  --ethan-bg-color: #9dc4f8;
  --isabella-bg-color: #f8d8b0;
  --noah-bg-color: #86e7d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  min-height: 100vh;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}

h2 {
  color: var(--people-names-color);
  font-size: 1.25rem;
  font-weight: 600;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

main {
  flex: 1;
}

.main-content {
  display: grid;
  grid-template-rows: repeat(2, 290px);
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin-top: 1rem;
  margin-bottom: 0;
  border-radius: 22px;
}

.main-content span {
  color: var(--span-color);
}

.main-content h1 {
  color: var(--title-card-color);
  font-weight: 500;
}

.main-content p {
  margin-right: 1rem;
}

.main-content p,
.main-content__footer a {
  color: var(--text-header-color);
}

.main-content article {
  position: relative;
}

.main-content__liam img,
.main-content__sophia img,
.main-content__ethan img,
.main-content__isabella img,
.main-content__noah img {
  position: absolute;
  bottom: 0;
}

.main-content__header {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background-image: url("../resources/Background_decor.svg");
  background-repeat: no-repeat;
  background-color: var(--header-card-bg-color);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main-content__header > * {
  margin-block: 1rem;
}

.main-content__header h1 {
  font-size: 2.5rem;
}

.main-content__header {
  padding: 1.9rem 5rem 2rem 1.5rem;
}

.main-content__liam {
  background-color: var(--liam-bg-color);
}

.main-content__sophia {
  border-top-right-radius: 25px;
  background-color: var(--sophia-bg-color);
}

.main-content__ethan {
  grid-row: 2;
  grid-column: 2 / 3;
  background-color: var(--ethan-bg-color);
}

.main-content__isabella {
  background-color: var(--isabella-bg-color);
}

.main-content__noah {
  border-bottom-right-radius: 25px;
  background-color: var(--noah-bg-color);
}

.main-content__footer {
  grid-row: 2;
  grid-column: 1;
  align-self: flex-end;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

.main-content__footer a {
  font-weight: 500;
}

.main-content__footer img {
  vertical-align: middle;
}

[class$="info"] {
  position: relative;
  top: 200px;
  margin: 1.5rem;
  z-index: 3;
}

[class$="info"] p {
  color: var(--people-names-color);
  font-weight: 400;
}

img[src="./resources/Gradient.svg"] {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.footer a,
.main-content__footer a {
  text-decoration: none;
}

@media screen and (max-width: 64rem) {
  .main-content {
    grid-template-rows: repeat(3, 290px);
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 2rem;
  }

  .main-content__header {
    grid-row: 1;
    grid-column: 1 / span 4;
  }
}
