:root {
  --main-font: "Outfit", sans-serif;
  --people-names-color: #fffefe;
  --header-card-bg-color: #f3f4f6;
  --span-color: #263fa9;
  --title-header-color: #000000;
  --text-header-color: #394150;
  --footer-card-link-color: #c1b6f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 100dvh;
  min-height: 100vh;
  font-family: var(--main-font);
  font-weight: 400;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.main-content {
  display: grid;
  grid-template-rows: repeat(2, 40vh);
  grid-template-columns: repeat(4, auto);
  max-width: 1000px;
}

.main-content span {
  color: var(--span-color);
}

.main-content h1 {
  color: var(--title-card-color);
}

.main-content p,
.main-content__footer a {
  color: var(--text-header-color);
}

.main-content__header {
  background-color: var(--header-card-bg-color);
}

.main-content__members {
  display: flex;
  align-items: baseline;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.footer a {
  text-decoration: none;
}
